<config>
  <apiEndpoint>https://serviciostrygnoss.gnoss.com/api</apiEndpoint>
  <communityShortName>demo-gnoss-akademia-20-10</communityShortName>
  <ontologyName>peliculaleo</ontologyName>
  <developerEmail>alur20_10@ur.com</developerEmail>
  <token>
    <tokenKey>DdV3VaRY3EjHwAEhmP/wSKWpdH9H3U5k</tokenKey>
    <tokenSecret>Wtd3VaRY3EjNhEsNFmT2S6ZFrQjg7FCR</tokenSecret>
  </token>
  <consumer>
    <consumerKey>BlhoVaRY3EgTsS0+wG7QRZudSUdyg68d</consumerKey>
    <consumerSecret>lrJoVaRY3EgTTet9NvRMTZ0MFjWwXFp/</consumerSecret>
  </consumer>
  <log>
    <logPath>/log</logPath>
    <logFileName>trace.log</logFileName>
    <logLevel>DEBUG</logLevel>
  </log>
</config>